// Container
$container-max: 1400px;
$container-padding: 16px;

// Breakpoints
$breakpoint-mobile-s: 480px;
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-laptop: 1440px;

// Fonts
$font-family-base: 'Geist', sans-serif;
